.spS10{
  margin-left: 245px;
}

.win{
  padding-left: 100px;
}

.mrS{
  margin-left: 245px;
}

h2{
  color: #3073fa;
}

.greenC{
  color: green;
}

.btnS2{
  color: #3073fa;
  font-weight: bold;
  height: 33px;
}


.inpSt{
  height: 20px;

}

.spS{
  color: green;
  padding:20px;
}

.a1{
  margin-left: 127px;
}

.a2{
  margin-left: 192px;
}

.a3{
  margin-left: 190px;
}

.a4{
  margin-left: 108px;
}

.a5{
  margin-left: 169px;
}

.a6{
  margin-left: 185px;
}

.a7{
  margin-left: 160px;
}

.a8{
  margin-left: 480px;
}

.a9{
  margin-left: 55px;
}

.btnS{
  margin-left: 127px;
  height: 30px;
  background: #bdbdbd;
  color: #444444;
  font-weight: bold;
  border-color: white;
  border-radius: 2px;
}

.inpS{
  height: 20px;
}

.inpS2{
  height: 20px;
  width: 100px;
}

.inpS3{
  height: 100px;
  width: 230px;
}


.red{
  color: red;
}









